<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <form class="shadow-custom container m-t-20 p-t-10 p-b-10">
        <div class="row form-group">
          <div class="col-12">
            <h2>Confirm your email</h2>
          </div>
        </div>
        <div class="row form-group" *ngIf="isEmailSending">
          <div class="col-12">
            <p>Wait, please. We already sending an email with confirmation code to your email
              <span *ngIf="currentUser?.email">({{currentUser?.email}})</span>.
              <fa name="spinner"
                  animation="spin"
                  [fixed]="true"></fa>
            </p>
          </div>
        </div>
        <ng-container *ngIf="!isEmailSending">
          <div class="row form-group">
            <div class="col-12">
              <p>We send letter with an short code on your email
                <span *ngIf="sendingResult?.accepted">({{sendingResult?.accepted.join(', ')}})</span>
                . Check it, please, and paste it here</p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-12">
              <label for="confirmationCode" class="sr-only">Confirmation code</label>
              <input required [(ngModel)]="confirmationCode"
                     (ngModelChange)="clearError()"
                     id="confirmationCode"
                     name="confirmationCode"
                     class="form-control"
                     placeholder="Confirmation code">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-12">
              <button type="submit"
                      class="btn px-2 form-control"
                      [disabled]="isLoading"
                      [ngClass]="{'btn-primary':!loading,'btn-secondary':loading}"
                      (click)="changePassword()">
                Confirm
                <fa *ngIf="isLoading"
                    name="spinner"
                    animation="spin"
                    [fixed]="true"></fa>
              </button>
            </div>
          </div>
          <div class="row form-group" *ngIf="error">
            <div class="col-12 text-danger">
              <b>{{error}}</b>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div>
