<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <form class="shadow-custom container m-t-20 p-t-10 p-b-10" #passwordChangeForm="ngForm">
        <div class="row form-group">
          <div class="col-12">
            <h2>Change password</h2>
          </div>
        </div>
        <ng-container *ngIf="!sendingResult">
          <div class="row form-group">
            <div class="col-12">
              <label for="confirmationCode" class="sr-only">Your login</label>
              <input required
                     [(ngModel)]="login"
                     (ngModelChange)="clearError()"
                     [disabled]="isEmailSending"
                     id="login"
                     name="login"
                     class="form-control"
                     placeholder="Your login">
            </div>
          </div>
          <div class="row form-group" *ngIf="isEmailSending">
            <div class="col-12">
              <p>Wait, please. We already sending an email with confirmation code to your email.
                <fa name="spinner"
                    animation="spin"
                    [fixed]="true"></fa>
              </p>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-12">
              <button type="submit"
                      class="btn px-2 form-control"
                      [disabled]="isEmailSending"
                      [ngClass]="{'btn-primary':!loading,'btn-secondary':loading}"
                      (click)="sendPasswordChangeEmail()">
                Send code
                <fa *ngIf="isEmailSending"
                    name="spinner"
                    animation="spin"
                    [fixed]="true"></fa>
              </button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="sendingResult">
          <div class="row form-group">
            <div class="col-12">
              <p>We send letter with an short code on your email
                <span *ngIf="sendingResult?.accepted">({{sendingResult?.accepted.join(', ')}})</span>
                . Check it, please, and paste it here</p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-12">
              <label for="confirmationCode" class="sr-only">Confirmation code</label>
              <input required [(ngModel)]="confirmationCode"
                     (ngModelChange)="clearError()"
                     id="confirmationCode"
                     name="confirmationCode"
                     class="form-control"
                     placeholder="Confirmation code">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <label class="sr-only">Password</label>
              <div class="input-group">
                <input [type]="getPasswordInputType()" name="password"
                       #passwordControl="ngModel"
                       [(ngModel)]="newPassword" required class="form-control"
                       [pattern]="passwordPattern"
                       placeholder="Password">
                <div class="input-group-append cursor-pointer"
                     (click)="isPasswordVisible = !isPasswordVisible">
                      <span class="input-group-text">
                        <i class="fa fa-fw"
                           [ngClass]="{'fa-eye': isPasswordVisible, 'fa-eye-slash': !isPasswordVisible}"></i>
                      </span>
                </div>
              </div>
              <div *ngIf="passwordControl.errors?.required" class="text-danger">
                <small>Enter your new password</small>
              </div>
              <div *ngIf="passwordControl.errors?.pattern" class="text-danger">
                <small>{{passwordValidationMessage}}</small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <label class="sr-only">Password conf.</label>
              <div class="input-group">
                <input [type]="getPasswordInputType()" name="password"
                       [(ngModel)]="newPasswordConfirm" required
                       class="form-control" placeholder="Password confirmation">
                <div class="input-group-append cursor-pointer"
                     (click)="isPasswordVisible = !isPasswordVisible">
                      <span class="input-group-text">
                        <fa *ngIf="isPasswordVisible" name="eye" [fixed]="true"></fa>
                        <fa *ngIf="!isPasswordVisible" name="eye-slash" [fixed]="true"></fa>
                      </span>
                </div>
              </div>
              <div *ngIf="newPasswordConfirm != newPassword"
                   class="text-danger">
                <small>Passwords doesn't match</small>
              </div>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-12">
              <button type="submit"
                      class="btn px-2 form-control"
                      [disabled]="!confirmationCode || isLoading || passwordChangeForm.invalid || (newPassword != newPasswordConfirm)"
                      [ngClass]="{'btn-primary':!loading,'btn-secondary':loading}"
                      (click)="changePassword()">
                Confirm
                <fa *ngIf="isLoading"
                    name="spinner"
                    animation="spin"
                    [fixed]="true"></fa>
              </button>
            </div>
          </div>
        </ng-container>
        <div class="row form-group" *ngIf="error">
          <div class="col-12 text-danger">
            <b>{{error}}</b>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
