<div class="card-group">
  <div class="col-md-12">
    <h4>PAYMENT</h4>
  </div>
  <div class="col-md-3"></div>
  <form class="col-md-6" novalidate (ngSubmit)="processPayment()" [formGroup]="stripeTest">
    <div class="modal-body">
      <input type="text" class="form-control" required [class.alert-danger]="isNameError" formControlName="name" (change)="isNameError = false;cardError = '';"
        placeholder="NAME ON CARD">
      <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
      <span *ngIf="cardError !== undefined && cardError !== null && cardError.length > 0" class="text-danger">{{cardError}}</span>
    </div>
  </form>
  <div class="col-md-3"></div>