.card {
    word-wrap: normal;
}

.control-label {
    font-size: 13px;
    margin-top: 8px;
}

.form-control {
    font-size: 13px;
}

a.accordion-toggle {
    color: #333;
    font-family: Oswald,'Trebuchet MS','Open Sans',arial,sans-serif;
    font-size: 16px;
}

agm-map {
    height: 370px;
}