<div class="steps">
  <div class="center row">
    <span class="col-2 offset-1 step" [class.text-dark]="wizardStep === 0">1. {{steps[0] | uppercase}}</span>
    <span class="col-2 step" [class.text-dark]="wizardStep === 1">2. {{steps[1] | uppercase}}</span>
    <span class="col-2 step" [class.text-dark]="wizardStep === 2">3. {{steps[2] | uppercase}}</span>
    <span class="col-2 step" [class.text-dark]="wizardStep === 3">4. {{steps[3] | uppercase}}</span>
    <span class="col-2 step" [class.text-dark]="wizardStep === 4">5. {{steps[4] | uppercase}}</span>
    <!--<span class="col-md-2 step" [class.text-dark]="wizardStep === 5">6. {{steps[5] | uppercase}}</span>-->
  </div>
</div>

<div [@slideInOut] class="container" *ngIf="!currentUser && !userToken">
  <div class="row">
    <div class="col-12 col-md-4">
      <app-login-form [showAdditionalLinks]="false"
                      [submitButtonDisabled]="authorizationStepLoading"
                      (loadingStateChanged)="onAuthLoadingStateChanged($event)"></app-login-form>
    </div>
    <div class="col-12 col-md-6 offset-md-2">
      <app-register-form [showAdditionalLinks]="false"
                         [submitButtonDisabled]="authorizationStepLoading"
                         (loadingStateChanged)="onAuthLoadingStateChanged($event)" [formTitle]="'New Customer? Register'"></app-register-form>
    </div>
  </div>
</div>

<div [@slideInOut] class="container" *ngIf="!!currentUser && !currentUser.confirmedAt">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
      <app-email-confirmation-form (confirmEmailApiRespondSuccess)="onConfirmEmailApiRespondSuccess($event)"></app-email-confirmation-form>
    </div>
  </div>
</div>

<ng-container *ngIf="!!currentUser && !!currentUser.confirmedAt">
  <div class="container">
    <div style="margin: 2rem 0;">
      <form #senderForm="ngForm">
        <div [@slideInOut] *ngIf="wizardStep == 0">
          <app-sender-form [ratesRequest]="ratesRequest"></app-sender-form>
        </div>
      </form>
      <form #receiverForm="ngForm">
        <div [@slideInOut] *ngIf="wizardStep == 1">
          <app-receiver-form [ratesRequest]="ratesRequest"></app-receiver-form>
        </div>
      </form>
      <form #packageForm="ngForm">
        <div [@slideInOut] *ngIf="wizardStep == 2">
          <app-package [ratesRequest]="ratesRequest" (goClicked)="onGo($event)"></app-package>
        </div>
      </form>
      <form #paymentForm="ngForm">
        <div [@slideInOut] *ngIf="wizardStep == 3">
          <app-payment-form #payment [ratesRequest]="ratesRequest" [availToGo]="availToGo"
                            (checkoutDone)="onCheckoutDone($event)"></app-payment-form>
        </div>
      </form>

      <div [@slideInOut] *ngIf="wizardStep == 4">
        <app-pickup-form [checkoutResult]="checkoutResult"
                         (pickupProcessed)="pickupProcessed($event)"></app-pickup-form>
      </div>

      <div [@slideInOut] *ngIf="wizardStep == 5">
        <app-booking-pickup-done [pickupProcessMessage]="pickupProcessMessage"
                                 (goToStartClicked)="goToStartClicked()"></app-booking-pickup-done>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container center" [hidden]="isProcessing">
      <button *ngIf="[1,2].indexOf(wizardStep) > -1" type="button" style="margin-right: 20px;"
              class="btn btn-light btn-sm" (click)="clickBack()">BACK
      </button>
      <button *ngIf="wizardStep === 0" type="button" class="btn btn-primary btn-lg" [disabled]="senderForm.invalid"
              (click)="clickNext()">
        NEXT STEP
      </button>
      <button *ngIf="wizardStep === 1" type="button" class="btn btn-primary btn-lg" [disabled]="receiverForm.invalid"
              (click)="clickNext()">
        NEXT STEP
      </button>
      <button *ngIf="wizardStep === 3" type="button" class="btn btn-primary btn-lg" [disabled]="paymentForm.invalid"
              (click)="processPayment()">
        PAY
      </button>
      <!--<button *ngIf="wizardStep === 4" type="button" class="btn btn-primary btn-lg" (click)="processCheckout(false)">-->
      <!--PROCESS CHECKOUT-->
      <!--</button>-->
      <!--<button *ngIf="wizardStep === 4" type="button" class="btn btn-primary btn-lg" (click)="processCheckout(true)">-->
      <!--EMAIL TICKET-->
      <!--</button>-->
      <!--<span *ngIf="wizardStep === 4">&nbsp;</span>-->
      <!--<button *ngIf="wizardStep === 4" type="button" class="btn btn-primary btn-lg" (click)="processCheckout(false)">-->
      <!--PRINT-->
      <!--</button>-->
    </div>
    <div class="container center" [hidden]="!isProcessing || wizardStep === 3">
      <img id="img_loader_processing" [src]="loaderpath" [hidden]="!isProcessing">
    </div>
    <!--
    <p>valid: {{ packageForm.valid }}</p>
    <p>isUnitAndKgOkay: {{ isUnitAndKgOkay() }}</p>
    <p>ratesRequest: {{ ratesRequest | json }}</p>
    <p>availToGo: {{ availToGo | json }}</p>
    -->
  </footer>
</ng-container>
