<form (ngSubmit)="onSubmit()" class="container m-t-20 p-t-10 p-b-10" #registerForm="ngForm">
  <div class="form-group row">
    <div class="col-12">
      <h1>{{formTitle}}</h1>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-12 col-md-3 col-form-label">Phone</label>
    <div class="col-sm-12 col-md-9">
      <input type="text" id="parentPhone" class="form-control"
             #phoneInput="ngModel"
             [textMask]="{mask: phoneMask}" name="parentPhone"
             [(ngModel)]="model.phone" required
             placeholder="Your phone">
      <div *ngIf="phoneInput.errors?.required" class="text-danger">
        <small>Enter your phone</small>
      </div>
      <div *ngIf="phoneInput.errors?.pattern" class="text-danger">
        <small>Phone must contain only digits</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-12 col-md-3 col-form-label">First name*</label>
    <div class="col-sm-12 col-md-9">
      <input type="text" id="lastName" class="form-control"
             #firstNameInput="ngModel" name="firstName" placeholder="Your first name"
             [(ngModel)]="model.firstName" required>
      <div *ngIf="firstNameInput.errors?.required" class="text-danger">
        <small>Enter your first name</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-12 col-md-3 col-form-label">Last name</label>
    <div class="col-sm-12 col-md-9">
      <input type="text" id="lastName" class="form-control"
             #lastNameInput="ngModel" name="firstName" placeholder="Your first name"
             [(ngModel)]="model.lastName">
      <div *ngIf="lastNameInput.errors?.required" class="text-danger">
        <small>Enter your last name</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-12 col-md-3 col-form-label">Login</label>
    <div class="col-sm-12 col-md-9">
      <input type="text" id="loginInput" class="form-control"
             #loginInput="ngModel" name="loginInput" placeholder="Your login"
             [(ngModel)]="model.login" required>
      <div *ngIf="loginInput.errors?.required" class="text-danger">
        <small>Enter your login</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-12 col-md-3 col-form-label">Email</label>
    <div class="col-sm-12 col-md-9">
      <input type="text" id="emailInput" class="form-control"
             #emailInput="ngModel"
             name="emailInput"
             placeholder="Your actual email"
             [(ngModel)]="model.email" required
             [pattern]="emailMask">
      <div *ngIf="emailInput.errors?.required" class="text-danger">
        <small>Enter your email</small>
      </div>
      <div *ngIf="emailInput.errors?.pattern" class="text-danger">
        <small>Wrong email format</small>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-12 col-md-3 col-form-label">Password</label>
    <div class="col-sm-12 col-md-9">
      <div class="input-group">
        <input [type]="getPasswordInputType()" name="password"
               #passwordControl="ngModel"
               [(ngModel)]="model.password" required class="form-control"
               [pattern]="passwordPattern"
               placeholder="Password">
        <div class="input-group-append cursor-pointer"
             (click)="isPasswordVisible = !isPasswordVisible">
                      <span class="input-group-text">
                        <i class="fa fa-fw"
                           [ngClass]="{'fa-eye': isPasswordVisible, 'fa-eye-slash': !isPasswordVisible}"></i>
                      </span>
        </div>
      </div>
      <div *ngIf="passwordControl.errors?.required" class="text-danger">
        <small>Enter your password</small>
      </div>
      <div *ngIf="passwordControl.errors?.pattern" class="text-danger">
        <small>{{passwordValidationMessage}}</small>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-12 col-md-3 col-form-label">Password conf.</label>
    <div class="col-sm-12 col-md-9">
      <div class="input-group">
        <input [type]="getPasswordInputType()" name="password"
               [(ngModel)]="model.passwordConfirmation" required
               class="form-control" placeholder="Password confirmation">
        <div class="input-group-append cursor-pointer"
             (click)="isPasswordVisible = !isPasswordVisible">
                      <span class="input-group-text">
                        <fa *ngIf="isPasswordVisible" name="eye" [fixed]="true"></fa>
                        <fa *ngIf="!isPasswordVisible" name="eye-slash" [fixed]="true"></fa>
                      </span>
        </div>
      </div>
      <div *ngIf="model.passwordConfirmation != model.password"
           class="text-danger">
        <small>Passwords doesn't match</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="error" class="text-danger">
        {{error}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-sm-center">
      <button type="submit" class="btn btn-info form-control"
              [disabled]="submitButtonDisabled || isLoading || registerForm.invalid || (model.passwordConfirmation != model.password)"
              [ngClass]="{'btn-primary':!isLoading,'btn-secondary':isLoading}">
        Register now
      </button>
    </div>
  </div>
  <div class="row" *ngIf="isLoading">
    <div class="col-sm-12 p-20 text-sm-center text-primary">
      Wait a minute...
    </div>
  </div>

  <div class="row" *ngIf="showAdditionalLinks">
    <div class="col-sm-12 text-sm-center text-primary m-t-5">
      <a [routerLink]="['/auth/login']">
        I already got an account. Sign in.
      </a>
      <br/>
      <a [routerLink]="['/']">I don't want create account</a>
    </div>
  </div>
</form>
