<div class="card-group">
  <div class="col-md-6">
    <h4>
      RECIPIENT DETAILS
    </h4>
    <div hidden class="form-group row">
      <label class="control-label col-md-2" for="DestinationCountry">Country*</label>
      <div class="controls col-md-10">
        <select class="form-control" id="DestinationCountry" required name="DestinationCountry" [(ngModel)]="ratesRequest.Destination.Address.CountryCode"
          #CountryCode="ngModel" disabled>
          <option *ngFor="let country of countriesList" [value]="country.countryCode">
            {{country.countryName}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <input id="DestinationName" name="DestinationName" class="form-control" required maxlength="50" [(ngModel)]="ratesRequest.Destination.Name"
          [class.alert-danger]="DestinationName.invalid && (DestinationName.dirty || DestinationName.touched)" placeholder="RECIPIENT NAME"
          #DestinationName="ngModel">
      </div>
    </div>
    <!--
    <div class="form-group row">
      <label class="control-label col-md-2" for="DestinationBuilding">Building</label>
      <div class="col-md-10">
        <input id="DestinationBuilding" name="DestinationBuilding" class="form-control" maxlength="60" [(ngModel)]="ratesRequest.Destination.Address.BuildingName"
          #DestinationBuilding="ngModel">
      </div>
    </div>
  -->
    <div class="form-group row">
      <div class="col-md-12">
        <input type="text" id="DestinationStreet" name="DestinationStreet" class="form-control" required maxlength="60" placeholder="STREET ADDRESS"
          [formControl]="searchControl" autocomplete="off" (focusout)="setStreetTouched()" [(ngModel)]="ratesRequest.Destination.Address.StreetAddress"
          [class.alert-danger]="!isStreetValid() && isStreetTouched" #DestinationStreet>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <input id="DestinationSuburb" name="DestinationSuburb" class="form-control" required maxlength="60" [(ngModel)]="ratesRequest.Destination.Address.Suburb"
          placeholder="SUBURB" [class.alert-danger]="DestinationSuburb.invalid && (DestinationSuburb.dirty || DestinationSuburb.touched)"
          #DestinationSuburb="ngModel">
      </div>
      <div class="col-md-6">
        <input id="DestinationState" name="DestinationState" class="form-control" required maxlength="60" [(ngModel)]="ratesRequest.Destination.Address.City"
          placeholder="CITY" [class.alert-danger]="DestinationState.invalid && (DestinationState.dirty || DestinationState.touched)"
          #DestinationState="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <input id="DestinationPostcode" name="DestinationPostcode" class="form-control" required maxlength="10" [(ngModel)]="ratesRequest.Destination.Address.PostCode"
          placeholder="POST CODE" [class.alert-danger]="DestinationPostcode.invalid && (DestinationPostcode.dirty || DestinationPostcode.touched)"
          #DestinationPostcode="ngModel">
      </div>
      <div class="col-md-6">
        <input id="DestinationContact" name="DestinationContact" class="form-control" maxlength="60" [(ngModel)]="ratesRequest.Destination.ContactPerson"
          placeholder="PERSON TO CONTACT (OPTIONAL)" #DestinationContactPerson="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-9">
        <input id="DestinationPhone" name="DestinationPhone" class="form-control" maxlength="60" [(ngModel)]="ratesRequest.Destination.PhoneNumber"
          placeholder="PHONE (OPTIONAL)" #DestinationPhone="ngModel">
      </div>
      <div class="col-md-3">
        <input id="DestinationSendEmail" name="DestinationSendEmail" type="checkbox" [(ngModel)]="ratesRequest.Destination.SendTrackingEmail">
        <label class="control-label" for="DestinationSendEmail"> Send T&amp;T</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <input type="email" id="DestinationEmail" name="DestinationEmail" class="form-control" maxlength="200" [(ngModel)]="ratesRequest.Destination.Email"
          placeholder="EMAIL ADDRESS (OPTIONAL)" [email]="ratesRequest.Destination.Email != '' && ratesRequest.Destination.Email != null"
          [class.alert-danger]="DestinationEmail.invalid && (DestinationEmail.dirty || DestinationEmail.touched)" #DestinationEmail="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <input id="DestinationDeliveryInstructions" name="DestinationDeliveryInstructions" class="form-control" maxlength="120" [(ngModel)]="ratesRequest.Destination.DeliveryInstructions"
          placeholder="DELIVERY INSTRUCTIONS (OPTIONAL)" #DestinationDeliveryInstructions="ngModel">
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-5" *ngIf="ratesRequest.Destination.Address.CountryCode
                  && (ratesRequest.Destination.Address.City || ratesRequest.Destination.Address.Suburb || ratesRequest.Destination.Address.StreetAddress)">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>
</div>
