/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #ebeff0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: Oswald,'Trebuchet MS','Open Sans',arial,sans-serif;
  font-size: 13px;
}

.navbar {
  padding: 0px 20px;
  /* background-color: #1D2B42; */
}

.bg-dark {
  background-color: #20314b !important;
}

.center {
  text-align: center;
  margin: auto;
  width: 90%;
  padding: 1rem 0rem;
}

.steps {
  margin: auto;
  width: 100%;
  font-size: 1.2em;
  border: 0;
  text-align: center;
  background-color: #fcfcfc;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #cccccc;
}

.step {
  padding-left: 0rem;
  padding-right: .1rem;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-control {
  line-height: 2.6rem;
  font-size: 1.4em !important;
  border: none;
  margin-bottom: .1rem;
}

.form-control::-moz-placeholder {
  color: #999;
  font-size: .6em;
  font-style: italic;
  padding: 0px 0px !important;
}

.form-control:-ms-input-placeholder {
  color: #999;
  font-size: .6em;
  font-style: italic;
  padding: 0px 0px !important;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  font-size: .6em;
  font-style: italic;
  padding: 0px 0px !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 6px;
  padding-left: 6px;
}

.btn-primary {
    color: #fff;
    background-color: #c13885;
    border-color: #c13885;
    padding: 10px 80px;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #e453a5;
    border-color: #e453a5;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 .1rem #972265;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #c13885;
    border-color: #c13885;
  }
  
  .btn-primary:active, .btn-primary.active,
  .show > .btn-primary.dropdown-toggle {
    background-color: #c13885;
    background-image: none;
    border-color: #c13885;
  }

  .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c13885;
    border-color: #c13885;
    box-shadow: 0 0 0 0.1rem #972265;
}
