@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #ebeff0 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 13px !important;
}

.navbar {
  padding: 0px 20px !important;
}

.bg-dark {
  background-color: #20314b !important;
}

.center {
  text-align: center !important;
  margin: auto !important;
  width: 90% !important;
  padding: 1rem 0rem !important;
}

.steps {
  margin: auto !important;
  width: 100% !important;
  font-size: 1.2em !important;
  border: 0 !important;
  text-align: center !important;
  background-color: #fcfcfc !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  color: #cccccc !important;
}

.step {
  padding-left: 0rem !important;
  padding-right: .1rem !important;
}

.form-group {
  margin-bottom: 0.5rem !important;
}

select.form-control {
  line-height: 2.6rem !important;
  height: 3.2rem !important;
}

.form-control {
  line-height: 2.6rem !important;
  font-size: 1.2em !important;
  border: none !important;
  margin-bottom: .1rem !important;
}

.form-control::-moz-placeholder {
  color: #999 !important;
  font-size: .6em !important;
  font-style: italic !important;
  padding: 0px 0px !important;
}

.form-control:-ms-input-placeholder {
  color: #999 !important;
  font-size: .6em !important;
  font-style: italic !important;
  padding: 0px 0px !important;
}

.form-control::-webkit-input-placeholder {
  color: #999 !important;
  font-size: .6em !important;
  font-style: italic !important;
  padding: 0px 0px !important;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative !important;
  width: 100% !important;
  min-height: 1px !important;
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #c13885 !important;
    border-color: #c13885 !important;
    padding: 10px 80px !important;
  }
  
  .btn-primary:hover {
    color: #fff !important;
    background-color: #e453a5 !important;
    border-color: #e453a5 !important;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 .1rem #972265 !important;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #c13885 !important;
    border-color: #c13885 !important;
  }
  
  .btn-primary:active, .btn-primary.active,
  .show > .btn-primary.dropdown-toggle {
    background-color: #c13885 !important;
    background-image: none !important;
    border-color: #c13885 !important;
  }

  .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #c13885 !important;
    border-color: #c13885 !important;
    box-shadow: 0 0 0 0.1rem #972265 !important;
}

table {
  background-color: #fcfcfc !important;
}
thead th {
  font-size: 1.2em !important;
  background-color: #fcfcfc !important;
}

tfoot td {
  font-size: 1.2em !important;
  background-color: #fcfcfc !important;
}

.table td, .table th {
  font-size: 1.2em !important;
  padding: 5px !important;
}

span.dropdown-item {
  font-size: 13px !important;
}

.modal-body {
  white-space: pre-line !important;
}
