<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Processed shipments</h3>
    </div>
  </div>
  <div class="row" *ngIf="isLoading">
    <div class="col-12 text-center">
      <h3>
        <fa name="spinner"
            animation="spin"
            [fixed]="true"></fa>
      </h3>
    </div>
  </div>
  <div class="row" *ngFor="let shipment of shipmentsToDisplay">
    <div class="col-12">
      <app-processed-shipment [shipment]="shipment"></app-processed-shipment>
    </div>
  </div>
</div>
